html {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    color: white;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 5rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
}
header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    font-size: x-large;
}

main {
    min-height: 100vh;
    width: 100%;
}

section {
    max-height: 100vh;
    width: 100%;
    bottom: 2rem;
}

.hero {
    max-height: 100vh;
}
.hero img {
    object-fit: cover;
    width: 100%;
}

.placeholder {
    max-height: 100vh;
}
.placeholder img {
    object-fit: cover;
    width: 100%;
}

footer {
    display: flex;
}


img {
    margin: 0;
    padding: 0;
}
a {
    color: white;
    text-decoration: none;
}



.omOss {
  display: flex;            
  justify-content: space-between; 
  align-items: flex-start;      
  height: 100px;
  background: lightgray;
}

.visjon2 {
   display: flex;
 justify-content: space-evenly;
 height: 800px; ;
 align-items: start;
  
}
.visjon1 {
 display: flex;
 justify-content: space-evenly;
 height: 100px;
 align-items: flex-start;
}
    


h2{
    display: flex;
    text-align: center;
}