html {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  max-width: 100vw;
  padding-top: 5rem;
  padding-bottom: 4rem;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  width: 100%;
  background-color: #a1c2bd;
  backdrop-filter: blur(8px);
  z-index: 1000;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: large;
}

header nav a {
  color: black;
  padding-left: 10px;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  width: 100%;
  background-color: #e7f2ef;
  backdrop-filter: blur(8px);
  z-index: 1000;
}

footer nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer nav a {
  color: black;
  padding-left: 10px;
  text-decoration: none;
}

.homepage-body {
  background-image: url("./images/background.png");
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.homepage-main {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.homepage-background {
  margin-top: 5px;
  position: relative;
  width: 100%;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
}

.homepage-topp-text {
  padding: 2rem;
  color: white;
  text-align: center;
}

.info-boxes {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
}

.info-box-content {
  display: block;
  width: 300px;
  height: 200px;
  width: 100%;
  color: white;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
}

.info-box-link {
  display: block;
  width: 300px;
  height: 200px;
  border-radius: 16px;
  overflow: hidden;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  background: #708993;
}

.info-box-link:hover .info-box-content {
  background: rgba(0, 0, 0, 0.7);
}

.info-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  background: none;
  box-shadow: none;
  border-radius: 0;
  position: static;
}

.reklame_bilder {
  width: 200px;
  height: 200px;
}
